<h1 class="text-center">Odyssey Composer</h1>
<p class="text-center">Create group compositions for Odyssey NM runs.</p>

<mat-card class="table-container"
          [formGroup]="form"
          cdkDropListGroup>
  <!-- Actions -->
  <div class="d-flex justify-content-end mb-2">
    <button mat-raised-button
            color="accent"
            (click)="copyPlanToClipboard()"
            matTooltip="Copy to clipboard"
            matTooltipPosition="above">
      <mat-icon>content_copy</mat-icon> Copy
    </button>
    &nbsp;
    <button mat-raised-button
            color="primary"
            disabled
            matTooltip="Save to database"
            matTooltipPosition="above">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
  <div class="d-flex">
    <!--
      4 col layout
      First row = empty first cell, boss names x3 (acts as headers)
      Subsequent rows = player name, job assignment x3
    -->
    <!-- Col 1, player names -->
    <div class="flex-grow-1"
         formArrayName="players">
      <!-- Empty first cell -->
      <div class="name-header d-flex flex-column justify-content-end">
        <span class="large">Use full names!</span>
        (to save properly)
      </div>
      <!-- Subsequent cells pull player names -->
      <div class="text-end"
           *ngFor="let playerControl of playerControls; let i = index">
        <mat-form-field>
          <mat-label>Player {{i+1}}</mat-label>
          <input matInput
                 [formControlName]="i.toString()">
          <mat-error *ngIf="playerControl.invalid">{{getErrorMessage(playerControl.errors)}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Col 2-4, Bosses + job assignments -->
    <div class="d-flex">
      <div class="d-flex"
           *ngFor="let bossControl of bossesFormArray.controls; let i = index">
        <div class="px-2">
          <!-- Boss name for col -->
          <mat-form-field>
            <mat-label>Boss {{i+1}}</mat-label>
            <mat-select [formControl]="asFormControl(bossControl)">
              <mat-option *ngFor="let bossKey of odyBossKeys"
                          [value]="bossKey">
                {{OdyBoss[bossKey]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Rest of the column is a drag lists for player job assignments -->
          <div class="player-tile-container"
               *ngFor="let playerControl of playerControls; let j = index">
            <div cdkDropList
                 [cdkDropListData]="jobAssignments[i][j]"
                 class="player-tile-list"
                 (cdkDropListDropped)="drop($event)"
                 [ngClass]="{'assigned-tile-list': jobAssignments[i][j].length > 0}">
              <div class="player-tile"
                   [cdkDragData]="getAssignment(i, j)"
                   cdkDrag
                   [cdkDragDisabled]="jobAssignments[i][j].length === 0"
                   [ngClass]="{'assigned-tile': jobAssignments[i][j].length > 0}"
                   (contextmenu)="unassignJob(i, j)">
                {{getAssignment(i, j)}}
              </div>
            </div>
          </div>
        </div>
        <!-- Swap button -->
        <div *ngIf="i < bossesFormArray.controls.length - 1"
             class="d-flex align-items-center">
          <button mat-icon-button
                  (click)="swapCol(i)">
            <mat-icon>swap_horiz</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-grow-1"></div>
  </div>


  <div class="w-100 mt-1">
    <div class="d-flex align-items-center">
      <h3 class="mb-0"><b>Available Jobs</b></h3>
      <button mat-icon-button
              (click)="copyAvailableJobsToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div class="d-flex flex-wrap available-tile-pool"
         id="available-job-pool"
         cdkDropList
         [cdkDropListData]="jobsAvailable"
         cdkDropListSortingDisabled
         (cdkDropListDropped)="drop($event)">
      <div class="job-tile"
           *ngFor="let jobKey of jobsAvailable"
           [cdkDragData]="jobKey"
           cdkDrag>
        {{Job[jobKey]}}
      </div>
    </div>
  </div>

</mat-card>
