<h1 class="text-center">Odyssey Composer</h1>
<p class="text-center">Create group compositions for Odyssey NM runs.</p>

<mat-card class="table-container"
          [formGroup]="form"
          cdkDropListGroup>
  <div class="d-flex">
    <!--
      4 col layout
      First row = empty first cell, boss names x3 (acts as headers)
      Subsequent rows = player name, job assignment x3
    -->
    <!-- Col 1, player names -->
    <div class="flex-grow-1"
         formArrayName="players">
      <!-- Empty first cell -->
      <div>
        <mat-form-field class="invisible">
          <input matInput>
        </mat-form-field>
      </div>
      <!-- Subsequent cells pull player names -->
      <div class="text-end"
           *ngFor="let playerControl of playerFormArray.controls; let i = index">
        <mat-form-field>
          <mat-label>Player {{i+1}}</mat-label>
          <input matInput
                 [formControlName]="i">
        </mat-form-field>
      </div>
    </div>

    <!-- Col 2-4, Bosses + job assignments -->
    <div class="d-flex">
      <div class="px-2"
           *ngFor="let bossControl of bossesFormArray.controls; let i = index">
        <!-- Boss name for col -->
        <mat-form-field>
          <mat-label>Boss {{i+1}}</mat-label>
          <mat-select [formControl]="asFormControl(bossControl)">
            <mat-option *ngFor="let bossKey of odyBossKeys"
                        [value]="bossKey">
              {{OdyBoss[bossKey]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Rest of the column is a drag lists for player job assignments -->
        <div class="example-container-1"
             *ngFor="let playerControl of playerFormArray.controls; let j = index">
          <div cdkDropList
               [cdkDropListData]="jobAssignments[i][j]"
               class="example-list"
               (cdkDropListDropped)="drop($event)"
               [cdkDropListEnterPredicate]="getDropListPredicate(i, j)">
            <div class="player-tile"
                 [cdkDragData]="getAssignment(i, j)"
                 cdkDrag
                 [cdkDragDisabled]="jobAssignments[i][j].length === 0"
                 [ngClass]="{'assigned-tile': jobAssignments[i][j].length > 0}">
              {{getAssignment(i, j)}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex-grow-1"></div>
  </div>


  <div class="w-100 mt-1">
    <h3 class="mb-0"><b>Available Jobs</b></h3>
    <div class="d-flex flex-wrap available-tile-pool"
         cdkDropList
         [cdkDropListData]="jobsAvailable"
         (cdkDropListDropped)="drop($event)">
      <div class="job-tile"
           *ngFor="let jobKey of jobsAvailable"
           [cdkDragData]="jobKey"
           cdkDrag>
        {{Job[jobKey]}}
      </div>
    </div>
  </div>

</mat-card>
