<div class="d-flex flex-column align-items-center">
  <h1>Welcome to FFXI <s>Sweat</s>Workshop, where nerds come to get sweaty!</h1>
  <pre class="ascii-logo overflow-hidden"><!-- New line spacer -->
                                                                                    .(((*
                                                                                    .##,
                                                                                  ,##(#(/,*.
                                                                                  (#,
                                                                                .,        #(/*#/
                                                                                          *#,  .(*.                                  .
                                                                                        . ((#. ,(,                                 /
                                                                                          /###/*##          .#(*                 ,#
                                                                                          *###/,/##((#..    ,###//*              //
                                                                            .,.       (######(####((...,  ,(###(/              (.
                                                                          ,#/#(#((    ,(*.... ,*//,.*(/ .(####(,,/.           .#.
                                                                          * . ///#.   (##*(*( ./.*#(#(( (#*(# /(#,,*/(,.     */                                ,.
                                                                          .  * *(  //,((((#,.((((#/##./((( ,,/*/(# .*(     *,.  .*///(.                       /(((*
                                                                            ./#,    ,,#(#*/((,/(((*#//#.#((//.((/((,.(,,,,   (((((((*(/ /.                 .((((,*(
                                              *#.                   /.     **,   ,/.   ((((,/((*.(*(.*.    ((//.,(((.( (/ (*  ,((((((.**((/              ,(((*
                                                  ((.                ,(  ,(*//(*(((,#,* */(,*/(/.,(, , ./.   ,(((/.*(*(((/(/   /((((/ ,((((((.         /((#
                                                      .(/.             *(,/(/((* ** /(//*/*,.   ,.*(,*  .//(, .(//,///*,//*/(,  .////*///((//        ,(/,.
                      .                                   ,(*    .    /////  (* .,/// ///*,*..  *//,,/, .///***//(./***,.(//*,.   ,,*///////.,..   *(**                .
                . .   .  *      *            .,               *(/(*.////   //*/**.*   .///*... *,  *//*/,///* */*.  //..  ///* .  .*.,,////  .* .(//
          .     .             . .               *             .  ,////   *//// ,,*,**///,  ,***.,*.      ****   ,*,  **/,.***/**,/******/***  *//,  /                .
          .    .  . . .                 /      ./         ,      ,,*    ****    /,,**,  ***,,,,*.         .*,*. ,*,.**.,.**, ***,    ,,,.*****,*,*,,/,     /             .
                .  . .                          .,      ,    .. . .,**,*,**     .****  *****,,**     .**.     *** .***,*..****.***,*****************..*      .,   .   .
      ,       . *   .     .    .  ,    . .  ,   .((/*( ,/.   *,,.  . ,,,    ,,,,,,,.*,,* ,,,*.,,, .*,,,,,.  *.,,,,,,,.,,,,,,*,,..,,,,. ,*,*.,,* .*,,., .        .   .
            .    .. . .    .     .  ,    ..  . .. ,//*/,, , , .,,,,,.,..,. .,.,,,,,,.,.....,,,,,,,,,,,,,,,,,.,.,...,,,, , ,,,,..  ..,. . ,, ,,,..,, ,,,,,,,.*,*..    .      ,
    .  .     .. . ...  . .. *,   .     *...  .,*,***,..,.,,,,,....,....,.   ,..,.,.....,. .,...,..., ,.... ., ,......,.....,.... ,,,,,...  ..,..,,,,.,.   . ...*,   . .    .    ,
    . *.....,. .*. , ,./*,,//./,  ,,*..* ..,... ,,, ,, ,,,............ ............... ... .. . ,..............  ... ....................     ............       ...  . . .  . .. ....
      . .   ,*..*. .,,***,*.,,.. ,,.,.....,........ .. ....  ... ........  .................  ....,....... ...  ..................  .............  .......  ,  . ..  . . ..
  .  . .   .,.  .,.....,  ...... ..  ... ... .   ........    ..  ...  ...   ..  ....  .. ..  . .......   ... . ....  . .   .....   ...  ........  ..   ..... ...   ..  .   .    ..  .
  . ((((((((( . /((((    .(((/ .(((,     ,((,     (((((.           /((((((((,    *((.     *(((* /((*    *(((((((*      ((/        (#%(      ((((.((((         ((((**(((,(((* .    .
      &@@ ,@@@    #@@      ,@@@. /@#      #@@%      #@@              @@@( (@@*    %@@#      %@@@  &@.    &@@@@@@@&     .@@@       @@( @@/     &@( #@#           #@( (@/  %@@
      &@@   %@    #@@      ,@@@@ /@#      &@@@      #@@              @@@(   @*    @@@@      %@@@/ &@.    @@ %@& @@     #@@@.     .@@( &@(     (@% &@/           /@& @@   %@@
      &@@  @*@    #@@      ,@@@@,/@#      @@@@      #@@              @@@( ( (*   .@@@@      %@@@# &@.    @/ %@& (@     @@@@/      @@# @@/     *@@ @@.            @@@@*   %@@
      &@@ /@      #@@      ,@@&@(/@#     *@%@@.     #@@              @@@( @      (@%@@.     %@&@@ &@.    ,  %@&  ,     @@%@%      (@@#         @@&@&             /@@&    %@@
      &@@@@@      #@@      ,@@(@&/@#     &@,@@*     #@@              @@@@@@      @@.@@*     %@(@@*&@.       %@&       ,@%#@@        @@@        #@@@,              @@/    %@@
      &@@ (@      #@@      ,@@,@@#@#     @@ @@/     #@@              @@@( @      @@ @@/     %@(#@@&@.       %@&       /@(/@@         &@@/       @@@               @@#    %@@
      &@@  @      #@@      ,@@ @@@@#    ,@& @@(     #@@   /&         @@@( (     ,@% @@(     %@( @@@@.       %@&       (@/,@@,     #@& %@@       @@%              /@@@    %@@
      &@@         #@@      ,@@ ,@@@#    /@&/&@#     #@@   %%         @@@(       /@%/@@#     %@( #@@@.       %@&       %@#/@@*     @@% (@@(      @@%              @&@@%   %@@
      &@@         #@@      ,@@  &@@#    (@( #@&     #@@  /@%         @@@(       (@( %@&     %@( /@@@.       %@&       @@  @@(     @@% (@@/      @@%             /@/ @@.  %@@
      &@@         #@@      ,@@  (@@#    %@/ (@@     #@@ &@@%         @@@(       %@* #@@     %@(  @@@.       %@&      .@@  @@(     #@@ %@@       @@% .*/%*       %@  #@(  %@@
    ,,,,,       .,,,,     ,,,.  ,,.   ,,,,.,,,,   .,,,,,,,.        .,,,,.     ,,,..,,,,   .,,,  .,,       .,,,.     ,,,.,,,,.      ,/*.       ,,,,.  ..       ,,,.,,,,,.,,,.

,%%%%%%%#########(((((((((////////********,,,,,,,,.......      (* @*     .#(/      #        *(      *&.,     ,@,      ........,,,,,,,********/////////(((((((((#########%%%%%%&.
  </pre>
</div>
